<% if !@errors.nil? %>
<div class="text-danger">
    <label><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</label>
    <ul>
        <% @errors.full_messages.each do |msg| %>
        <li><%= "#{msg}" %></li>
    <% end %>
    </ul>
</div>
<% end %>


<%= form_for(@pin, multipart: true) do |f| %>
<div class="form-group">
<label for="pin_title">Title</label>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
</div>

    <div class="form-group">
<label for="pin_url">Web Address</label>
        <%= f.url_field :url, class: "form-control", placeholder: "http://www.someexample.com" %>
    </div>

    <div class="form-group">
    <label for="pin_text">Description</label>
         <%= f.text_area :text, class: "form-control", placeholder: "Description" %>
    </div>

    <div class="form-group">
    <label for="pin_slug">Slug</label>
         <%= f.text_field :slug, class: "form-control", placeholder: "Pretty URL" %>
    </div>

      <div class="form-group">
      <label for="pin_image_file_name">Image Name</label>
          <%= f.text_field :image_file_name, class: "form-control", placeholder: "File Name" %>
      </div>

      <div class="form-group">
      <label for="pin_image">Image</label>
          <%= f.file_field :image, class: "form-control" %>
      </div>

    <div class="control-group">
      <div class="controls">
        <%= f.button :Submit, class: "btn btn-default" %>
      </div>
    </div>

<% end %>